<ion-header>
  <ion-toolbar>
    <ion-title>onboarding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    @if (!googleInitialized) {
        <ion-button (click)="initializeGoogle()" [disabled]="googleInitializing">Google Drive initialisieren</ion-button>
    } @else {
        <ion-note>Google Drive is initialized</ion-note>
        <br>
        <br>
        <ion-input label="Passwort" [(ngModel)]="password"></ion-input>
        <ion-button (click)="createAccount()" [disabled]="password.length === 0">Account erstellen</ion-button>
    }

    @if (downloadingEntries && all !== 0) {
        <br>
        <ion-progress-bar [value]="done/all"></ion-progress-bar>
        <br>
        {{done}}/{{all}}
    }

    <br>
    <br>
    <ion-button (click)="deleteCloud()">delete cloud</ion-button>



    <!--
    <br><br>

    @if (!googleInitialized) {
        <ion-button (click)="initializeGoogle()" [disabled]="googleInitializing">Google Drive initialisieren</ion-button>
    } @else {
        <ion-note>Google Drive is initialized</ion-note>
        <br>
        <br>
        <ion-button (click)="downloadEverything()">Redownload everything</ion-button>
        <br>
        <ion-note>(db must have been manually deleted/cleared)</ion-note>
    }

    <br>
    <br>
    @if (downloadingEntries && all !== 0) {
        <ion-progress-bar [value]="done/all"></ion-progress-bar>
        <br>
        {{done}}/{{all}}
    }

    <br>
    <br>
    <ion-button (click)="clearDb()">Clear db</ion-button>

    <br>
    <br>
    <ion-button (click)="download()">Sync (download)</ion-button>

    <br>
    <br>
    <ion-button (click)="upload()">Sync (upload)</ion-button>

    <br>
    <br>
    <ion-button (click)="deleteStorage()">Delete storage</ion-button>

    <br>
    <br>
    <ion-button (click)="initMasterKey()">init master key</ion-button>

    <br>
    <br>
    <ion-button (click)="uploadSalt()">upload salt</ion-button>

    <br>
    <br>
    <ion-button (click)="deleteCloud()">delete cloud</ion-button>
    -->

    <br>
    <br>
    <ion-button (click)="dump()">Dump</ion-button>

</ion-content>

<app-nav-bar [host]="'statistics'"></app-nav-bar>
