<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>onboarding</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-input label="Passwort" [(ngModel)]="password"></ion-input>
    <ion-button (click)="setPassword()" [disabled]="password.length === 0">Setzen</ion-button>

    <br><br>

    @if (!googleInitialized) {
        <ion-button (click)="initializeGoogle()" [disabled]="googleInitializing">Google Drive initialisieren</ion-button>
    } @else {
        <ion-note>Google Drive is initialized</ion-note>
        <br>
        <br>
        <ion-button (click)="downloadEverything()">Redownload everything</ion-button>
        <br>
        <ion-note>(db must have been manually deleted/cleared)</ion-note>
    }

    <br>
    <br>
    @if (googleInitializing && all !== 0 && !googleInitialized) {
        <ion-progress-bar [value]="done/all"></ion-progress-bar>
        <br>
        {{done}}/{{all}}
    }

    <br>
    <br>
    <ion-button (click)="clearDb()">Clear db</ion-button>

    <br>
    <br>
    <ion-button (click)="download()">Sync (download)</ion-button>

</ion-content>

<app-nav-bar [host]="'statistics'"></app-nav-bar>
