<button
  *ngIf="button"
  class="datetime-button"
  type="button"
  [class.datetime-button-disabled]="disabled"
  [disabled]="disabled"
  (click)="open($event)"
>
  <span class="datetime-button-text" [class.placeholder]="!selectedDate">{{ buttonText }}</span>
</button>

<ion-modal
  *ngIf="button"
  class="customModal"
  [isOpen]="isPopoverOpen"
  (didDismiss)="close()"
>
  <ng-template>
    <div class="datetime-panel">
      <ng-container *ngTemplateOutlet="calendar"></ng-container>
    </div>
  </ng-template>
</ion-modal>

<div *ngIf="!button" class="datetime-panel">
  <ng-container *ngTemplateOutlet="calendar"></ng-container>
</div>

<ng-template #calendar>
  <div class="calendar-header">
    <app-custom-datetime-month-carousel
      [month]="visibleMonth"
      [selectedMonth]="visuallySelectedMonth"
      [locale]="locale"
      [disabled]="disabled"
      (monthChange)="onCarouselMonthChange($event)"
    ></app-custom-datetime-month-carousel>
  </div>

  <div class="calendar-grid-viewport" [class.transitioning]="calendarTransitionActive">
    <div
      class="calendar-grid-track"
      [class.with-transition]="calendarTrackTransition"
      [class.show-left]="calendarTrackPosition === 'left'"
      [class.show-center]="calendarTrackPosition === 'center'"
      [class.show-right]="calendarTrackPosition === 'right'"
    >
      <div class="calendar-grid calendar-grid-page" aria-hidden="true">
        <button
          *ngFor="let day of calendarPreviousDays; trackBy: trackByDate"
          class="calendar-day"
          type="button"
          tabindex="-1"
          [class.placeholder]="day.placeholder"
          [class.today]="day.today"
          [class.selected]="day.selected"
          disabled
        >
          <span *ngIf="!day.placeholder">{{ day.label }}</span>
        </button>
      </div>

      <div class="calendar-grid calendar-grid-page" role="grid">
        <button
          *ngFor="let day of calendarCurrentDays; trackBy: trackByDate"
          class="calendar-day"
          type="button"
          role="gridcell"
          [class.placeholder]="day.placeholder"
          [class.today]="day.today"
          [class.selected]="day.selected"
          [disabled]="isCalendarDayDisabled(day)"
          [attr.aria-hidden]="day.placeholder ? true : null"
          [attr.aria-selected]="!day.placeholder ? day.selected : null"
          [attr.aria-label]="!day.placeholder ? day.label + ' ' + monthLabel : null"
          (click)="selectDay(day)"
        >
          <span *ngIf="!day.placeholder">{{ day.label }}</span>
        </button>
      </div>

      <div class="calendar-grid calendar-grid-page" aria-hidden="true">
        <button
          *ngFor="let day of calendarNextDays; trackBy: trackByDate"
          class="calendar-day"
          type="button"
          tabindex="-1"
          [class.placeholder]="day.placeholder"
          [class.today]="day.today"
          [class.selected]="day.selected"
          disabled
        >
          <span *ngIf="!day.placeholder">{{ day.label }}</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="showDefaultButtons" class="default-buttons">
    <ion-button *ngIf="showClearButton" fill="clear" color="medium" [disabled]="disabled || readonly" (click)="clear(button)">
      {{ clearText }}
    </ion-button>
    <span class="button-spacer"></span>
    <ion-button fill="clear" color="medium" [disabled]="disabled" (click)="cancel(button)">
      {{ cancelText }}
    </ion-button>
    <ion-button fill="clear" [color]="color" [disabled]="disabled || readonly" (click)="confirm(button)">
      {{ doneText }}
    </ion-button>
  </div>
</ng-template>
