<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Aktivität</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    @if (distinctDaysCount != null && entryCount !== null) {
        <ion-card-header>
            <ion-card-subtitle>{{ entryCount }} Einträge an {{ distinctDaysCount }} Tagen</ion-card-subtitle>
        </ion-card-header>
    }

    @for (year of years; track year) {
        <app-activity-heatmap [data]="commitData" [year]="year"></app-activity-heatmap>
    }
</ion-content>

<app-nav-bar [host]="'activity'"></app-nav-bar>
