<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>{{date}}</ion-title>
        <ion-button fill="clear" slot="end" color="light" (click)="navigate('home')">
            Home
        </ion-button>
        <ion-button fill="clear" slot="end" color="light" (click)="navigate('today')">
            Today
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    @for (entry of entries; track entry) {
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    {{entry.date}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{entry.text}}
            </ion-card-content>
        </ion-card>
    } @empty {
        <ion-card>
            <ion-card-header>
                <ion-card-title>An diesem Tag wurden keine Einträge verfasst</ion-card-title>
            </ion-card-header>
        </ion-card>
    }

</ion-content>
