<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Bestimmter Tag
        </ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="gotoYesterday()">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
                {{getYesterdate()}}.
            </ion-button>
        </ion-buttons>

        <ion-datetime-button datetime="whichdate"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="whichdate"
                              presentation="date"
                              [formatOptions]="{
                            date: {
                              weekday: 'long',
                              month: 'long',
                              day: '2-digit',
                            }
                          }"
                              [(ngModel)]="date"
                              (ionChange)="selectedDate($event)"
                ></ion-datetime>
            </ng-template>
        </ion-modal>

        <ion-buttons slot="end" >
            <ion-button (click)="gotoTomorrow()">
                {{getTomorrowdate()}}.
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    @if (entries.length > 0) {
        <div style="width: 100%; display: flex; justify-content: center" class="ion-padding-top">
            <ion-button fill="outline" shape="round" (click)="openNewEntryModal()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </div>
    }

    @for (entry of entries; track entry) {
        <ion-card>
            <ion-button (click)="createPopover($event)" size="small" color="medium" fill="clear" style="position: absolute; right: 0; z-index: 9999">
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
            <ion-card-content>
                {{entry.text}}
            </ion-card-content>
            <ion-card-header style="position: absolute; right: 0; bottom: 0">
                <ion-card-subtitle>
                    {{formatTime(entry.written)}} Uhr
                </ion-card-subtitle>
            </ion-card-header>
        </ion-card>
        @if ($index < $count) {
            <div style="width: 100%; display: flex; justify-content: center">
                <ion-button fill="outline" shape="round" (click)="openNewEntryModal()">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
            </div>
        }
    } @empty {
        <div class="container">
            <div class="headline">
                Noch kein Eintrag
            </div>
            <ion-button (click)="openNewEntryModal()" expand="block" class="ion-padding-horizontal">
                Eintrag hinzufügen
            </ion-button>
        </div>
    }

</ion-content>

<app-nav-bar [host]="'specific'"></app-nav-bar>
