.no-entries-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: max(30%, 400px);
  margin: auto;
}

.no-entries-container > .no-entries-headline {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-wrap: balance;
}

.imageContainer {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.imageContainer > img {
  height: clamp(300px, 45vw, 500px);
  border-radius: 16px;
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 8px;
}

.card-button-container {
  position: absolute; right: 4px; top: 4px; z-index: 9999
}

.card-button-container > ion-button {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 0;
  margin-bottom: 0;
}
