<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{formatToday()}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <!--
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="gotoYesterday()">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
                {{getYesterdate()}}.
            </ion-button>
        </ion-buttons>

        <ion-datetime-button datetime="specificDate"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="specificDate"
                              presentation="date"
                              [formatOptions]="{
                            date: {
                              month: 'long',
                              day: '2-digit',
                              year: 'numeric'
                            }
                          }"
                              [(ngModel)]="date"
                              (ionChange)="selectedDate($event)"
                ></ion-datetime>
            </ng-template>
        </ion-modal>

        <ion-buttons slot="end" >
            <ion-button (click)="gotoTomorrow()">
                {{getTomorrowdate()}}.
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        @if (entriesLoading) {
            <ion-progress-bar color="light"></ion-progress-bar>
        }
    </ion-toolbar>
    -->
</ion-header>

<ion-content>
    @if (!entriesLoading && entries.length > 0) {
        <div style="width: 100%; display: flex; justify-content: center;">
            <ion-button size="small" fill="outline" shape="round" (click)="openNewEntryModal(0, null)">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </div>
    }

    @for (entry of entries; track entry) {
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    Verfasst: {{entry.date | formatWrittenDate:entry.written:entry.writtenHasTime }}
                </ion-card-title>
                <div class="card-button-container">
                    <ion-button (click)="presentInfoPopover($event, entry)" color="medium" fill="clear">
                        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="deleteEntry(entry)" color="medium" fill="clear">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="editEntry(entry)" color="medium" fill="clear">
                        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
                    </ion-button>
                </div>
            </ion-card-header>
            <ion-card-content>
                <quill-view [content]="entry.text" format="json"></quill-view>
                <!--<div style="text-align: right">Wörter: {{wordCount(entry)}}</div>-->
            </ion-card-content>
        </ion-card>
        @if ($index < $count) {
            <div style="width: 100%; display: flex; justify-content: center">
                <ion-button size="small" fill="outline" shape="round" (click)="openNewEntryModal($last ? null : $index+1, $index)">
                    <ion-icon slot="icon-only" name="add"></ion-icon>
                </ion-button>
                @if (!$last) {
                    <ion-button size="small" fill="outline" shape="round" (click)="merge($index+1, $index)">
                        <ion-icon slot="icon-only" name="chevron-collapse-outline"></ion-icon>
                    </ion-button>
                }
            </div>
        }
    } @empty {
        @if (!entriesLoading) {
            <div class="no-entries-container">
                <div class="no-entries-headline">
                    Noch kein Eintrag
                </div>
                <ion-button (click)="openNewEntryModal(null, null)" expand="block" class="ion-padding-horizontal">
                    Eintrag hinzufügen
                </ion-button>
            </div>
        }
    }

</ion-content>
