.no-entries-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: max(30%, 400px);
  margin: auto;
}

.no-entries-container > .no-entries-headline {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-wrap: balance;
}

.imageContainer {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.imageContainer > img {
  height: clamp(300px, 45vw, 500px);
  border-radius: 16px;
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 8px;
}

ion-card {
  margin-top: 4px;
  margin-bottom: 4px;
}

ion-card-header {
  display: flex;
  flex-direction: row;
}

ion-card-title {
  flex-grow: 1;
}

.card-button-container {
  margin-top: -12px;
  transform: translateY(6px);
  flex-shrink: 0;
}

.card-button-container > ion-button {
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ion-card {
  overflow: visible;
  contain: none;
}

.downwards {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(calc(100% + 12px));
}
