<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Spezifischer Tag
        </ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-datetime-button datetime="whichdate"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="whichdate"
                              presentation="date"
                              [formatOptions]="{
                            date: {
                              weekday: 'long',
                              month: 'long',
                              day: '2-digit',
                            }
                          }"
                              [(ngModel)]="date"
                              (ionChange)="selectedDate($event)"
                ></ion-datetime>
            </ng-template>
        </ion-modal>

        <ion-buttons slot="end" >
            <ion-button fill="clear">
                <ion-icon slot="icon-only"  name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    @if (entries.length > 0) {
        <ion-button fill="outline">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
    }

    @for (entry of entries; track entry) {
        <ion-card>
            <ion-button (click)="createPopover($event)">
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
            <ion-card-header>
                <ion-card-title>
                    {{entry.written}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{entry.text}}
            </ion-card-content>
        </ion-card>
        @if ($index < $count) {
            <ion-button fill="outline">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        }
    } @empty {
        <ion-card>
            <ion-card-header>
                <ion-card-title>Noch kein Eintrag</ion-card-title>
            </ion-card-header>
        </ion-card>
    }

    <!--
    <ion-card>
        <ion-button (click)="createPopover($event)">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
        <ion-card-header>
            <ion-card-title>14.07.2025, Samstag</ion-card-title>
            <ion-card-subtitle>Verfasst: Heute</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </ion-card-content>


        <span style="position: absolute; right: 12px; bottom: 12px">
            #3
        </span>
    </ion-card>

    <ion-button style="margin: 0 0 0 50%; transform: translateX(-50%)" shape="round" fill="outline" size="small">
        <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-card>
        <ion-card-header>
            <ion-card-title>14.07.2025, Samstag</ion-card-title>
            <ion-card-subtitle>Verfasst: Heute</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </ion-card-content>
    </ion-card>

    <ion-button style="margin: 0 0 0 50%; transform: translateX(-50%)" shape="round" fill="outline" size="small">
        <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-card>
        <ion-card-header>
            <ion-card-title>14.07.2025, Samstag</ion-card-title>
            <ion-card-subtitle>Verfasst: Heute</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </ion-card-content>
    </ion-card>
    -->

</ion-content>

<app-nav-bar [host]="'specific'"></app-nav-bar>
