<ion-footer class="toolbar">
    <ion-toolbar>
        <ion-buttons style="justify-content: center">
            <ion-button class="toolbarButton" (click)="navigate('home')" [color]="host === 'home' ? 'primary' : 'dark'">
                <div class="toolbarButtonWrapper">
                    <ion-icon name="home-outline" class="toolbarIcon"></ion-icon>
                    <ion-label class="toolbarLabel">
                        An diesem Tag
                    </ion-label>
                </div>
            </ion-button>
            <!--
            <ion-button class="toolbarButton" (click)="navigate('specific-day')" [color]="host === 'specific' ? 'primary' : 'dark'">
                <div class="toolbarButtonWrapper">
                    <ion-icon name="today-outline" class="toolbarIcon"></ion-icon>
                    <ion-label class="toolbarLabel">
                        Bestimmter Tag
                    </ion-label>
                </div>
            </ion-button>
            -->
            <ion-button class="toolbarButton" (click)="navigate('search')" [color]="host === 'search' ? 'primary' : 'dark'">
                <div class="toolbarButtonWrapper">
                    <ion-icon name="search-outline" class="toolbarIcon"></ion-icon>
                    <ion-label class="toolbarLabel">
                        Suchen
                    </ion-label>
                </div>
            </ion-button>
            <ion-button class="toolbarButton" (click)="navigate('onboarding')" [color]="host === 'statistics' ? 'primary' : 'dark'">
                <div class="toolbarButtonWrapper">
                    <ion-icon name="bar-chart-outline" class="toolbarIcon"></ion-icon>
                    <ion-label class="toolbarLabel">
                        Statistiken
                    </ion-label>
                </div>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
