<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Neuer Eintrag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card style="border: 1px solid var(--ion-color-primary)" class="create-card">
        <ion-card-header>
            <ion-card-subtitle>
                Datum:
                <ion-datetime-button datetime="date" style="display: inline"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                        <ion-datetime id="date"
                                      presentation="date"
                                      [formatOptions]="{
                            date: {
                              weekday: 'long',
                              month: 'long',
                              day: '2-digit',
                            }
                          }"
                                      [(ngModel)]="date"
                        ></ion-datetime>
                    </ng-template>
                </ion-modal>

                Verfasst:
                <ion-datetime-button datetime="datetime" style="display: inline"></ion-datetime-button>

                <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                        <ion-datetime id="datetime"
                                      presentation="date-time"
                                      [formatOptions]="{
                            date: {
                              weekday: 'long',
                              month: 'long',
                              day: '2-digit',
                            },
                            time: {
                              hour: '2-digit',
                              minute: '2-digit',
                            }
                          }"
                                      [(ngModel)]="written"
                        ></ion-datetime>
                    </ng-template>
                </ion-modal>
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>

            <ion-textarea
                    autoGrow
                    rows="5"
                    labelPlacement="floating"
                    label="Eintrag"
                    fill="outline"
                    [(ngModel)]="text">
            </ion-textarea>

            <!-- Button zum Öffnen -->
            <ion-button (click)="triggerFileInput()">Bild auswählen</ion-button>

            <!-- Verstecktes Input -->
            <input
                    id="fileInput"
                    type="file"
                    accept="image/*"
                    style="display: none"
                    (change)="onFileSelected($event)"
            />

            <!-- Anzeige -->
            <ion-img *ngIf="imageSrc" [src]="imageSrc" style="width: 300px"></ion-img>

        </ion-card-content>
        <ion-button fill="clear" (click)="db()" [disabled]="text.length === 0">
            Hinzufügen
        </ion-button>
    </ion-card>
</ion-content>

<ion-footer class="toolbar">
    <ion-toolbar>
        <ion-buttons style="justify-content: center">
            <ion-button class="toolbarButton" (click)="navigate('home')" color="dark">
                <div class="toolbarButtonWrapper">
                    <ion-icon name="home-outline" class="toolbarIcon"></ion-icon>
                    <ion-label class="toolbarLabel">
                        Home
                    </ion-label>
                </div>
            </ion-button>
            <ion-button class="toolbarButton" (click)="navigate('specific-day')" color="dark">
                <div class="toolbarButtonWrapper">
                    <ion-icon name="today-outline" class="toolbarIcon"></ion-icon>
                    <ion-label class="toolbarLabel">
                        Specific
                    </ion-label>
                </div>
            </ion-button>
            <ion-button class="toolbarButton" color="dark">
                <div class="toolbarButtonWrapper">
                    <ion-icon name="bar-chart-outline" class="toolbarIcon"></ion-icon>
                    <ion-label class="toolbarLabel">
                        Stats
                    </ion-label>
                </div>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
