<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Neuer Eintrag</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true" [disabled]="text.length === 0">
                <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item>
            <ion-icon class="_8px-margin-inline-end" name="calendar-number-outline" slot="start"></ion-icon>
            <ion-label>Datum</ion-label>
            <ion-datetime-button datetime="date"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true" class="modalInModalBackdrop">
                <ng-template>
                    <ion-datetime id="date"
                                  presentation="date"
                                  [firstDayOfWeek]="1"
                                  [formatOptions]="{
                                                    date: {
                                                      weekday: 'short',
                                                      month: 'long',
                                                      day: 'numeric',
                                                      year: 'numeric'
                                                    }
                                                  }"
                                  [(ngModel)]="date"
                    ></ion-datetime>
                </ng-template>
            </ion-modal>
        </ion-item>
        @if (customWrittenDate) {
            <ion-item>
                <ion-icon class="_8px-margin-inline-end" name="time-outline" slot="start"></ion-icon>
                <ion-label>
                    Verfasst
                </ion-label>
                <ion-datetime-button datetime="written"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true" class="modalInModalBackdrop">
                    <ng-template>
                        <ion-datetime id="written"
                                      presentation="date-time"
                                      [firstDayOfWeek]="1"
                                      [formatOptions]="{
                                                    date: {
                                                      weekday: 'short',
                                                      month: 'short',
                                                      day: 'numeric',
                                                      year: 'numeric'
                                                    }
                                                  }"
                                      [(ngModel)]="written"
                        ></ion-datetime>
                    </ng-template>
                </ion-modal>
                <ion-button fill="clear" size="default" (click)="customWrittenDate = false">
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </ion-button>
            </ion-item>
        } @else {
            <ion-item>
                <ion-icon class="_8px-margin-inline-end" name="time-outline" slot="start"></ion-icon>
                <ion-label>
                    Verfasst
                </ion-label>
                <ion-segment value="now" mode="ios" style="width: unset">
                    <ion-segment-button value="custom" (click)="setCustomWrittenDate(true)">
                        <ion-label>Custom</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="now" (click)="customWrittenDate = false">
                        <ion-label>Jetzt</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-item>
        }
        <ion-item>
            @if (sync) {
                <ion-icon class="_8px-margin-inline-end" name="cloud-done-outline" slot="start"></ion-icon>
            } @else {
                <ion-icon class="_8px-margin-inline-end" name="cloud-offline-outline" slot="start"></ion-icon>
            }
            <ion-toggle [(ngModel)]="sync" justify="space-between">
                Synchronisieren
                @if (!sync) {
                    <br>
                    <ion-note>Dieser Eintrag wird nur lokal gespeichert</ion-note>
                }
            </ion-toggle>
        </ion-item>
        <ion-item>
            <ion-textarea
                #textarea
                style="margin-top: 8px"
                autoGrow="true"
                rows="5"
                labelPlacement="floating"
                label="Eintrag"
                fill="outline"
                spellcheck="true"
                [counter]="true"
                maxlength="1000000"
                [counterFormatter]="customCounterFormatter"
                (ionInput)="textareaInput($event)"
                [(ngModel)]="text">
            </ion-textarea>
        </ion-item>
        <ion-item>
            @if (imagesViews.length === 0) {
                <ion-button (click)="openFileDialog()" size="default">
                    <ion-icon name="add" slot="start"></ion-icon>
                    <ion-label>Bild</ion-label>
                    <ion-icon slot="end" icon="camera"></ion-icon>
                </ion-button>
                <br>
            } @else {
                <div class="imageContainer">
                    <div id="addAnotherImageButtonContainer">
                        <ion-button shape="round" fill="outline" size="large" (click)="openFileDialog()">
                            <ion-icon slot="icon-only" name="add"></ion-icon>
                        </ion-button>
                    </div>
                    @for (img of imagesViews; track img.filename) {
                        @if (img.localImageUrl === "") {
                            <ion-thumbnail>
                                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                            </ion-thumbnail>
                        } @else {
                            <img [src]="img.localImageUrl" (click)="reference(img)">
                        }
                    }
                </div>
            }
        </ion-item>
        <ion-item>
            <ion-button (click)="addChat()" size="default">
                <ion-icon name="add" slot="start"></ion-icon>
                <ion-label>Chat</ion-label>
                <ion-icon slot="end" icon="logo-whatsapp"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <input type="file" id="file-upload" style="display: none" accept="image/*" (change)="setImage($event)">


    <!--
    <br>

    <ion-button fill="clear" (click)="confirm()" [disabled]="text.length === 0">
        Hinzufügen
    </ion-button>
    -->
</ion-content>
