<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Neuer Eintrag</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true" [disabled]="!canSave()">
                <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item>
            <ion-icon class="_8px-margin-inline-end" name="calendar-number-outline" slot="start"></ion-icon>
            <ion-label>Datum</ion-label>
            <ion-datetime-button datetime="date"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true" class="modalInModalBackdrop">
                <ng-template>
                    <ion-datetime id="date"
                                  presentation="date"
                                  [firstDayOfWeek]="1"
                                  [formatOptions]="{
                                                    date: {
                                                      weekday: 'short',
                                                      month: 'long',
                                                      day: 'numeric',
                                                      year: 'numeric'
                                                    }
                                                  }"
                                  [(ngModel)]="date"
                    ></ion-datetime>
                </ng-template>
            </ion-modal>
        </ion-item>
        @if (customWrittenDate) {
            <ion-item>
                <ion-icon class="_8px-margin-inline-end" name="time-outline" slot="start"></ion-icon>
                <ion-label>
                    Verfasst
                </ion-label>
                <ion-datetime-button datetime="written"></ion-datetime-button>
                <ion-modal [keepContentsMounted]="true" class="modalInModalBackdrop">
                    <ng-template>
                        <ion-datetime id="written"
                                      presentation="date-time"
                                      [firstDayOfWeek]="1"
                                      [formatOptions]="{
                                                    date: {
                                                      weekday: 'short',
                                                      month: 'short',
                                                      day: 'numeric',
                                                      year: 'numeric'
                                                    }
                                                  }"
                                      [(ngModel)]="written"
                        ></ion-datetime>
                    </ng-template>
                </ion-modal>
                <ion-button fill="clear" size="default" (click)="customWrittenDate = false">
                    <ion-icon slot="icon-only" name="close-outline"></ion-icon>
                </ion-button>
            </ion-item>
        } @else {
            <ion-item>
                <ion-icon class="_8px-margin-inline-end" name="time-outline" slot="start"></ion-icon>
                <ion-label>
                    Verfasst
                </ion-label>
                <ion-segment value="now" mode="ios" style="width: unset">
                    <ion-segment-button value="custom" (click)="setCustomWrittenDate(true)">
                        <ion-label>Custom</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="now" (click)="customWrittenDate = false">
                        <ion-label>Jetzt</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-item>
        }
    </ion-list>

    <div id="toolbar">
        <ion-button (click)="openFileDialog()" size="default" class="ql-image">
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>Bild</ion-label>
            <ion-icon slot="end" icon="camera"></ion-icon>
        </ion-button>
        <ion-button size="default" disabled>
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-label>Chat</ion-label>
            <ion-icon slot="end" icon="logo-whatsapp"></ion-icon>
        </ion-button>
    </div>

    <quill-editor
            placeholder="Eintrag"
            spellcheck="true"
            (onEditorCreated)="editorCreated()"
            (onContentChanged)="contentChanged($event)"
            style="width: 100%"
            [formats]="['diaryImage']"
            [modules]="modules3"
            theme="snow"
            #quill>

    </quill-editor>

    <input type="file" id="file-upload" style="display: none" accept="image/*" (change)="setImage($event)">

</ion-content>
