.imageContainer {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 8px;
    margin-bottom: 8px;
}

.imageContainer > img {
    border: 2px solid var(--ion-color-primary);
}

.imageContainer > img, ion-thumbnail {
    height: 200px;
    border-radius: 16px;
    display: inline-block;
    width: auto;
    max-width: none;
    margin-right: 8px;
}

.imageContainer > ion-thumbnail {
    width: 200px;
    vertical-align: top;
}

.imageContainer > ion-thumbnail > ion-skeleton-text {
    border-radius: 16px;
}

#addAnotherImageButtonContainer {
    height: 200px;
    display: inline-block;
    vertical-align: top;
    align-content: center;
    padding-right: 8px;
}

.modalInModalBackdrop {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4) !important;
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32) !important;
}
