<ion-header>
    <ion-toolbar color="primary">
        <ion-searchbar #searchbar placeholder="Suchen" (ionInput)="search()" debounce="1000" [(ngModel)]="searchString"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
            Suchoptionen
        </ion-list-header>
        <ion-item>
            <ion-toggle>Einzelne Einträge</ion-toggle>
        </ion-item>
        <ion-item>
            <ion-toggle [(ngModel)]="caseSensitive" (ionChange)="search()">Case sensitive</ion-toggle>
        </ion-item>
        <ion-item>
            <ion-toggle [(ngModel)]="fullWords" (ionChange)="search()">Nur ganze Wörter</ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Startdatum</ion-label>
            <ion-datetime-button datetime="date" slot="end"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
                <ng-template>
                    <ion-datetime id="date"
                                  (ionChange)="search()"
                                  presentation="date"
                                  [firstDayOfWeek]="1"
                                  [formatOptions]="{
                                            date: {
                                              weekday: 'short',
                                              month: 'long',
                                              day: 'numeric',
                                              year: 'numeric'
                                            }
                                          }"
                                  [(ngModel)]="startDate"
                    ></ion-datetime>
                </ng-template>
            </ion-modal>
        </ion-item>
    </ion-list>

    <div class="canvasParent" [class.canvasHidden]="resultCount === 0">
        <canvas #baseChart></canvas>
    </div>

    @if (resultCount > 0) {
        <ion-list>
            @if (results.length > 0) {
                <ion-list-header>
                    {{resultCount}} Ergebnisse in {{results.length}} Einträgen
                </ion-list-header>
            }
            @for (entry of results; track entry.uuidv7) {
                <ion-item button detail="true" (click)="openEntry(entry.date)">
                    <span slot="start">
                        {{formatDate(entry.date)}}
                    </span>
                    <ion-label class="ion-text-nowrap">
                        {{entry.text}}
                    </ion-label>
                    @if(entry.referencedImages.length > 0) {
                        <ion-thumbnail slot="end" style="--border-radius: 8px">
                            <img ngSrc="{{ entry.referencedImages[0] | imageNameToObjectURL | async }}" width="56px" height="56px">
                        </ion-thumbnail>
                    }
                </ion-item>
            }
        </ion-list>
    } @else if(searchString.length > 0) {
        <div class="no-entries-container">
            <div class="no-entries-headline">
                Keine Ergebnisse
            </div>
        </div>
    } @else {
        <div class="no-entries-container">
            <div class="no-entries-headline">
                Noch nichts gesucht
            </div>
        </div>
    }


</ion-content>

<app-nav-bar [host]="'search'"></app-nav-bar>
