<ion-header>
    <ion-toolbar color="primary">
        <ion-searchbar placeholder="Suchen" (ionInput)="search()" debounce="1000" [(ngModel)]="searchString"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-toggle>Einzelne Einträge</ion-toggle>
    <ion-toggle [(ngModel)]="caseSensitive" (ionChange)="search()">Case sensitive</ion-toggle>
    <ion-toggle [(ngModel)]="fullWords" (ionChange)="search()">Nur ganze Wörter</ion-toggle>

    <div class="canvasParent" [class.canvasHidden]="resultCount === 0">
        <canvas #baseChart></canvas>
    </div>

    @if (resultCount > 0) {
        <ion-list>
            @if (results.length > 0) {
                <ion-list-header>
                    {{resultCount}} Ergebnisse in {{results.length}} Einträgen
                </ion-list-header>
            }
            @for (entry of results; track entry.uuidv7) {
                <ion-item button detail="true" (click)="openEntry(entry.date)">
                <span slot="start">
                    {{formatDate(entry.date)}}
                </span>
                    <ion-label class="ion-text-nowrap">
                        {{entry.text}}
                    </ion-label>
                </ion-item>
            }
        </ion-list>
    } @else {
        <div class="no-entries-container">
            <div class="no-entries-headline">
                Keine Ergebnisse
            </div>
        </div>
    }


</ion-content>

<app-nav-bar [host]="'search'"></app-nav-bar>
