<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Neuer Eintrag</ion-title>
        <ion-button fill="clear" slot="end" color="light" (click)="navigate('new-entry')">
            New entry
        </ion-button>
        <ion-button fill="clear" slot="end" color="light" (click)="navigate('today')">
            Today
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>17.05.2025, Samstag</ion-card-title>
        </ion-card-header>

        <ion-card-header>
            <ion-card-title>Verfasst: Heute</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>16.05.2025, Freitag</ion-card-title>
        </ion-card-header>

        <ion-card-header>
            <ion-card-title>Verfasst: Heute</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
