<ion-header>
    <ion-toolbar color="primary">
        <ion-title>An diesem Tag</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="gotoYesterday()">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
                {{getYesterdate()}}.
            </ion-button>
        </ion-buttons>

        <ion-datetime-button datetime="whichdate"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="whichdate"
                              presentation="date"
                              [formatOptions]="{
                            date: {
                              month: 'long',
                              day: '2-digit',
                            }
                          }"
                              [(ngModel)]="date"
                              (ionChange)="selectedDate($event)"
                ></ion-datetime>
            </ng-template>
        </ion-modal>

        <ion-buttons slot="end" >
            <ion-button (click)="gotoTomorrow()">
                {{getTomorrowdate()}}.
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        @if (entriesLoading) {
            <ion-progress-bar color="light"></ion-progress-bar>
        }
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!--
    @if (!entriesLoading && entries.length !== 0 && !hasEntriesForThisYear) {
        <ion-card-header style="padding-bottom: 4px">
            <ion-card-title>{{thisYear()}}</ion-card-title>
        </ion-card-header>
        <ion-button class="ion-padding" style="margin: auto" fill="outline">
            Für dieses Jahr hinzufügen
        </ion-button>
    }
    -->

    @for (day of entries; track $index) {
        <ion-card-header style="padding-bottom: 4px">
            <ion-card-title>{{formatDate(day[0].date)}}</ion-card-title>
        </ion-card-header>
        <ion-card>
            <ion-button (click)="createPopover($event, day[0].date)" size="small" color="medium" fill="clear" style="position: absolute; right: 0; z-index: 9999">
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>
            @for (entry of day; track entry.uuidv7) {
                <ion-card-content>
                    <!--
                    @if (entry.syncStatus === "keep_local") {
                        <ion-icon name="cloud-offline-outline" style="position: absolute; right: 8px; top: 8px; width: 16px; height: 16px;"></ion-icon>
                    } @else if (entry.syncStatus === "pending_upload") {
                        <ion-icon name="cloud-upload-outline" style="position: absolute; right: 8px; top: 8px; width: 16px; height: 16px;"></ion-icon>
                    } @else if (entry.syncStatus === "synced") {
                        <ion-icon name="cloud-done-outline" style="position: absolute; right: 8px; top: 8px; width: 16px; height: 16px;"></ion-icon>
                    }
                    -->
                    @if (sync.isProbablyOffline) {
                        <div class="dot" [class.red]="entry.syncStatus === 'keep_local'" [class.orange]="entry.syncStatus === 'pending_upload'" [class.green]="entry.syncStatus === 'synced'"></div>
                    }
                    Verfasst: {{formatDatetime(entry.date, entry.written)}} Uhr
                    <br>
                    <app-entry-text [entry]="entry"></app-entry-text>
                </ion-card-content>
            }
        </ion-card>
    } @empty {
        @if (!entriesLoading) {
            <div class="no-entries-container">
                <div class="no-entries-headline">
                    Für diesen Tag gibt es noch keine Einträge
                </div>
                <ion-button (click)="openNewEntryModal()" expand="block" class="ion-padding-horizontal">
                    Für {{thisYear()}} hinzufügen
                </ion-button>
            </div>
        }
    }

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openNewEntryModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<app-nav-bar [host]="'home'"></app-nav-bar>
