.no-entries-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: max(30%, 400px);
  margin: auto;
}

.no-entries-container > .no-entries-headline {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-wrap: balance;
}

.dot {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

ion-card-header {
  width: calc(100vw - 20px);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}
