<ion-header>
    <ion-toolbar color="primary">
        <ion-title>An diesem Tag</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="gotoYesterday()">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
                {{getYesterdate()}}.
            </ion-button>
        </ion-buttons>

        <ion-datetime-button datetime="whichdate"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="whichdate"
                              presentation="date"
                              [formatOptions]="{
                            date: {
                              month: 'long',
                              day: '2-digit',
                            }
                          }"
                              [(ngModel)]="date"
                              (ionChange)="selectedDate($event)"
                ></ion-datetime>
            </ng-template>
        </ion-modal>

        <ion-buttons slot="end" >
            <ion-button (click)="gotoTomorrow()">
                {{getTomorrowdate()}}.
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    @if (entriesLoading) {
        <ion-progress-bar></ion-progress-bar>
    }
</ion-header>

<ion-content>

    @for (day of entries; track day) {
        <ion-card button (click)="openEntry(day[0].date)">
            <ion-card-header style="padding-bottom: 4px">
                <ion-card-title>{{formatDate(day[0].date)}}</ion-card-title>
            </ion-card-header>
            @for (entry of day; track entry.id) {
                <ion-card-content>
                    Verfasst: {{formatDatetime(entry.date, entry.written)}}
                    <br>
                    <app-entry-text [entry]="entry"></app-entry-text>
                </ion-card-content>
            }
        </ion-card>
    } @empty {
        @if (!entriesLoading) {
            <div class="no-entries-container">
                <div class="no-entries-headline">
                    Für diesen Tag gibt es noch keine Einträge
                </div>
                <ion-button expand="block" class="ion-padding-horizontal">
                    Für {{thisYear()}} hinzufügen
                </ion-button>
            </div>
        }
    }

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openNewEntryModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<app-nav-bar [host]="'home'"></app-nav-bar>
